[Unit]
Description=flow worker
Documentation=https://flow.io
After=network.target local-fs.target

[Service]
ExecStart=/usr/local/bin/flow-worker -D -c /etc/flow.toml
Restart=always
RestartSec=5
LimitNPROC=infinity
LimitCORE=infinity
LimitNOFILE=infinity

[Install]
WantedBy=multi-user.target

